
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ChildLayout.cshtml";
}

<!--Shadab-->

<script>
    $(document).ready(function () {

        $("#MianContainer").append("<div class='row'><div class='col-4'></div><div class='col-4 p-5'><img id='img' src='https://play-lh.googleusercontent.com/C9CAt9tZr8SSi4zKCxhQc9v4I6AOTqRmnLchsu1wVDQL0gsQ3fmbCVgQmOVM1zPru8UH=w240-h480-rw' width='100%' class='rounded-pill'/></div><div class='col-4'></div></div> <hr/> <div class='row pt-2'> <div class='col-2'></div><div class='col-8'><table class='table table-borderless fs-4 '><tbody id='tb'><tr><th>Name</th><td>desd</td></tr><tr><th>Gender</th><td>fgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgd</td></tr><tr><th>Age</th><td>dedfgdfgdfgdfgdfgdfgdfgdfgdfgdfgsd</td></tr><tr><th>Mobile No</th><td>dfgdfgdfgdfgdfgdfgdfgdfgdfgd</td></tr></tbody></table></div><div class='col-2'></div></div ><div class='row'> <div class='col-12 text-end p-3'><button class='btn btn-danger fs-5 '>Send request</button></div ></div ><hr /><div class='row'><div class='col-12'><h2>About Myself</h2><p>jdkbasmdbaksjdhkajsdhaksdhksjdhamnsdgajhcgszjhxcvznbxcvnzbxcvnzbxcvznbxc</p></div></div><hr /><div class='row'><div class='col-12'><h2>Partner Wish List</h2><p>jdkbasmdbaksjdhkajsdhaksdhksjdhamnsdgajhcgszjhxcvznbxcvnzbxcvnzbxcvznbxc</p></div></div><hr /><div class='row'><div class='col-12'><h2>Education and Career</h2><p>jdkbasmdbaksjdhkajsdhaksdhksjdhamnsdgajhcgszjhxcvznbxcvnzbxcvnzbxcvznbxc</p></div></div><hr />")
        /*https://localhost:44352/Images/3.jpg*/
    });
</script>


<div class="container" id="MianContainer">
    @*<h1 class="text-center p-4">Profile</h1>
        <div class="row">
            <div class="col-4">

            </div>
            <div class="col-4 p-5">
                <img id="img" src="~/Images/3.jpg" width="100%" style="border-radius:20%" />
            </div>
            <div class="col-4">

            </div>
        </div>
        <hr />
        <div class="row pt-2">
            <div class="col-2"></div>
            <div class="col-8">
                <table class="table table-borderless fs-4 ">
                    <tbody id="tb">
                        <tr>
                            <th>Name</th>
                            <td>desd</td>

                        </tr>
                        <tr>
                            <th>Gender</th>
                            <td>fgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgd</td>

                        </tr>
                        <tr>
                            <th>Age</th>
                            <td>dedfgdfgdfgdfgdfgdfgdfgdfgdfgdfgsd</td>

                        </tr>
                        <tr>
                            <th>Mobile No</th>
                            <td>dfgdfgdfgdfgdfgdfgdfgdfgdfgd</td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-2"></div>
        </div>

        <div class="row">
            <div class="col-12 text-end p-3">
                <button class="btn btn-danger fs-5 ">Send request</button>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-12">
                <h2>About Myself</h2>
                <p>jdkbasmdbaksjdhkajsdhaksdhksjdhamnsdgajhcgszjhxcvznbxcvnzbxcvnzbxcvznbxc</p>
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-12">
                <h2>Partner Wish List</h2>
                <p>jdkbasmdbaksjdhkajsdhaksdhksjdhamnsdgajhcgszjhxcvznbxcvnzbxcvnzbxcvznbxc</p>
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-12">
                <h2>Education and Career</h2>
                <p>jdkbasmdbaksjdhkajsdhaksdhksjdhamnsdgajhcgszjhxcvznbxcvnzbxcvnzbxcvznbxc</p>
            </div>
        </div>
        <hr />*@



</div>