
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ChildLayout.cshtml";
}
<!--Shubham Shinde-->

<h2 class="text-center p-3"><b>Proccess Your Payment</b></h2>

<div class="container">
    <div class="row">
        <div class="col-3">
            <img src="~/Images/Subscription/Q.png" />
        </div>
        <div class="col-3">
            <img src="~/Images/Subscription/W.png" />>
        </div>
        <div class="col-3">
            <img src="~/Images/Subscription/D.png" />
        </div>
        <div class="col-3">
            <img src="~/Images/Subscription/qr-code-scan-steps-smartphone_1.png" />
        </div>
    </div>

    <div class="row">
        <div class="col-4">

        </div>
        <div class="col-4">
            <img src="~/Images/Subscription/QR.jpg" height="300px />
        </div>
        <div class="col-4">

        </div>
    </div>

</div>